h1 {
    width: 22em;
    font-size: 15px;
}

#search-text {
    display: inline-block;
    width: 20em;
    height: 2.2em;
}

#furigana-toggle {
    display: inline-block;
    margin-left: 0.5em;
    width: 2.5em;
    height: 2.5em;
    border: 0;
    box-shadow: none;
    border-radius: 2px;
    background-color: #646464;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#jisho-link {
    display: inline-block;
    padding-top: 1em;
}

#jisho-link:visited {
    text-decoration: none;
    color: blue;
}