h1 {
    font-size: 15px;
}

.content {
    width: 360px;
    margin: 8px;
}

#search-text {
    display: inline-block;
    width: 70%;
    height: 28px;
}

#search-submit {
    display: inline-block;
    margin-left: 10px;
    height: 32px;
    box-shadow: none;
    border-radius: 3px;
}

#jisho-link {
    display: inline-block;
    margin-top: 8px;
}

#jisho-link:visited {
    text-decoration: none;
    color: blue;
}
